@import "tailwindcss";



:root {
  --background: #ffffff;
  --foreground: #111111;
}

body {
  color: var(--foreground);
  background: var(--background);
  -webkit-font-smoothing: antialiased;
}

/* Remove a barra de rolagem lateral para um look mais clean (estilo Pieter) */
::-webkit-scrollbar {
  display: none;
}